.verticalCenter {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section {
  composes: verticalCenter;
  text-align: center;
}

.button {
  height: 50px;
  margin: 10px 5px;
}

.primaryButton {
  composes: button-primary from 'skeleton-css/css/skeleton.css';
}
